extends layout

block content
  h1= title
  a(href='/messages/new')
    button.newmessage add new message

  div
    ul.container--flex 
      each message in messages_list
        li 
          a.link(href=`/messages/${message.id}`)
           | @#{message.username}
          |  says:
          br
          span #{message.text}
          br
          span#timestamp at #{message.date}
          form(method="POST" action=`/messages/${message.id}/delete`)
                  input#userid(type="hidden", name="_method", required="true", value="DELETE")
                  button(type="submit").deletemessage delete